<h2><%= @user.name %>さんのページ</h2><br>

<p>
総学習時間：
<%= Study.all.where(user_id: current_user).sum(:time) %>時間
</p>

<%= Learn.all.where(user_id: current_user).each do |learn| %>
<p>
    <%= learn.name %>：
    <%= Study.group(:learn_id).sum(:time)[learn.id] %>時間
</p>
<% end %>





