<%= form_with(model:[@user,@learnigItem]) do |form| %>

<div class="field">
    <%= form.label :name %><br>
  <%= form.text_field :name %>
</div>
<div class="field">
     <%= form.label :study_time %><br>
  <%= form.text_field :study_time %>
</div>
<div class="actions">
  <%= form.submit '更新' %>
</div>

<% end %>