<div class="contents">
  <div class="input_time">

<%= form_with model: @study, url: studys_path do |f| %>

    <%= f.date_select :date %><br>
    <br>
    <%= f.select :learn_id, @learns.map { |learn| [learn.name, learn.id] } %>
    <%# <%= f.text_field :learn_id %>
    <br>
    <%= f.number_field :time, placeholder: "小数点第一位まで可！", size: "40x5" %><br>
    <br>
    <%= f.submit "送信",class: 'submit_btn' %>
<% end %>
  <div class="output_time">

    <div class="balloon">
      <p>これまでトータルで <span class="study_time"> <%= @studys %> h </span> の勉強したよ！</p>
      <p>がんばったね！</p>
    </div>
  </div>



