<div class="header">
    <% if user_signed_in? %>
        <p class="header-left"><%= link_to "Habits", user_path(current_user) %></p>
        <nav class="header-right">
            <ul>
                <li><%= link_to "メモ", memos_path %></li>
                <li><%= link_to "タイマー", "#" %></li>
                <li><%= link_to "学習時間入力", user_skills_path(current_user), method: :get %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "アカウント", edit_user_registration_path, method: :get %></li>
            </ul>
        </nav>
    <% else %>
        <p class="header-left"><%= link_to "Habits", root_path %></p>
        <nav class="header-right">
            <ul>
                <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
        </nav>
    <% end %>
</div>